// 
  CONTACTS-BLOCK
section.contacts
  .container
    .shell
      .contacts_row
        .contacts_main-block
          .contacts_map
            img(src="../img/map.png", alt="")
          .contacts_content
            .contacts_text
              p Lorem ipsum dolor sit amet, in consectetur adipiscing elit. Siri Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum.
              .contacts_details
                h4 Best PSD Freebies
                p 328 Ave C
                p Saskatoon, SK
                p S7R 2V9
              .contacts_details
                p 
                  b t: 
                  | (888) 842 - 8356
                p 
                  b f: 
                  | (888) 452 - 9257
                p 
                  b e: 
                  | info@psdfreebies.com
            .contacts_form
              form(action="")
                input(
                  name="first-name"
                  type="text"
                  date="first-name"
                  placeholder="FIRST NAME"
                  )
                input(
                  name="last-name"
                  type="text"
                  date="last-name"
                  placeholder="LAST NAME"
                )
                input(
                  name="email"
                  type="text"
                  date="email"
                  placeholder="EMAIL ADDRESS"
                )
                textarea(
                  name="textarea"
                  type="text"
                  date="textarea"
                ) MESSAGE
                button SUBMIT


        //
          Right-side-block
        include right-side-block